@if $use-roll-out == true {

  // originally authored by Nick Pettit - https://github.com/nickpettit/glide

  @-webkit-keyframes roll-out {
    0% {
      opacity: 1;
      -webkit-transform: translate-x(0px) rotate(0deg);
    }

    100% {
      opacity: 0;
      -webkit-transform: translate-x(100%) rotate($base-degrees * 4);
    }
  }

  @-moz-keyframes roll-out {
    0% {
      opacity: 1;
      -moz-transform: translate-x(0px) rotate(0deg);
    }

    100% {
      opacity: 0;
      -moz-transform: translate-x(100%) rotate($base-degrees * 4);
    }
  }

  @-o-keyframes roll-out {
    0% {
      opacity: 1;
      -o-transform: translate-x(0px) rotate(0deg);
    }

    100% {
      opacity: 0;
      -o-transform: translate-x(100%) rotate($base-degrees * 4);
    }
  }

  @keyframes roll-out {
    0% {
      opacity: 1;
      transform: translate-x(0px) rotate(0deg);
    }

    100% {
      opacity: 0;
      transform: translate-x(100%) rotate($base-degrees * 4);
    }
  }

  .roll-out {
    @include animate-prefixer(animation-name, roll-out);
  }

}
