@if $use-lightspeed-out == true {

  @-webkit-keyframes lightspeed-out {
    0% { opacity: 1; -webkit-transform: translateX(0%) skew-x(0deg); }
    100% { opacity: 0; -webkit-transform: translateX(100%) skew-x(-$base-degrees); }
  }

  @-moz-keyframes lightspeed-out {
    0% { opacity: 1; -moz-transform: translateX(0%) skew-x(0deg); }
    100% { opacity: 0; -moz-transform: translateX(100%) skew-x(-$base-degrees); }
  }

  @-o-keyframes lightspeed-out {
    0% { opacity: 1; -o-transform: translateX(0%) skew-x(0deg); }
    100% { opacity: 0; -o-transform: translateX(100%) skew-x(-$base-degrees); }
  }

  @keyframes lightspeed-out {
    0% { opacity: 1; transform: translateX(0%) skew-x(0deg); }
    100% { opacity: 0; transform: translateX(100%) skew-x(-$base-degrees); }
  }

  .lightspeed-out {
    @include animate-prefixer(animation-name, lightspeed-out);
    @include animate-prefixer(animation-timing-function, $base-timing-function-in);
  }
}
