@if $use-lightSpeedOut == true {

  @-webkit-keyframes lightSpeedOut {
    0% { -webkit-transform: translate-x(0%) skew-x(0deg); opacity: 1; }
    100% { -webkit-transform: translate-x(100%) skew-x(-$base-degrees); opacity: 0; }
  }

  @-moz-keyframes lightSpeedOut {
    0% { -moz-transform: translate-x(0%) skew-x(0deg); opacity: 1; }
    100% { -moz-transform: translate-x(100%) skew-x(-$base-degrees); opacity: 0; }
  }

  @-o-keyframes lightSpeedOut {
    0% { -o-transform: translate-x(0%) skew-x(0deg); opacity: 1; }
    100% { -o-transform: translate-x(100%) skew-x(-$base-degrees); opacity: 0; }
  }

  @keyframes lightSpeedOut {
    0% { transform: translate-x(0%) skew-x(0deg); opacity: 1; }
    100% { transform: translate-x(100%) skew-x(-$base-degrees); opacity: 0; }
  }

  .lightSpeedOut {
    @include animate-prefixer(animation-name, lightSpeedOut);
    @include animate-prefixer(animation-timing-function, $base-timing-function-in);
  }
}
