@if $use-bounce == true {

  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translate-y(0);}
    40% {-webkit-transform: translate-y(-$base-distance * 3);}
    60% {-webkit-transform: translate-y(-$base-distance * 1.5);}
  }

  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-moz-transform: translate-y(0);}
    40% {-moz-transform: translate-y(-$base-distance * 3);}
    60% {-moz-transform: translate-y(-$base-distance * 1.5);}
  }

  @-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-o-transform: translate-y(0);}
    40% {-o-transform: translate-y(-$base-distance * 3);}
    60% {-o-transform: translate-y(-$base-distance * 1.5);}
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translate-y(0);}
    40% {transform: translate-y(-$base-distance * 3);}
    60% {transform: translate-y(-$base-distance * 1.5);}
  }

  .bounce {
    @include animate-prefixer(animation-name, bounce);
  }

}
