@if $use-shake == true {

  @-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translate-x(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translate-x(-$base-distance);}
    20%, 40%, 60%, 80% {-webkit-transform: translate-x($base-distance);}
  }

  @-moz-keyframes shake {
    0%, 100% {-moz-transform: translate-x(0);}
    10%, 30%, 50%, 70%, 90% {-moz-transform: translate-x(-$base-distance);}
    20%, 40%, 60%, 80% {-moz-transform: translate-x($base-distance);}
  }

  @-o-keyframes shake {
    0%, 100% {-o-transform: translate-x(0);}
    10%, 30%, 50%, 70%, 90% {-o-transform: translate-x(-$base-distance);}
    20%, 40%, 60%, 80% {-o-transform: translate-x($base-distance);}
  }

  @keyframes shake {
    0%, 100% {transform: translate-x(0);}
    10%, 30%, 50%, 70%, 90% {transform: translate-x(-$base-distance);}
    20%, 40%, 60%, 80% {transform: translate-x($base-distance);}
  }

  .shake {
    @include animate-prefixer(animation-name, shake);
  }
}
