@if $use-wiggle == true {

  @-webkit-keyframes wiggle {
      0% { -webkit-transform: skew-x(9deg); }
      10% { -webkit-transform: skew-x(-8deg); }
      20% { -webkit-transform: skew-x(7deg); }
      30% { -webkit-transform: skew-x(-6deg); }
      40% { -webkit-transform: skew-x(5deg); }
      50% { -webkit-transform: skew-x(-4deg); }
      60% { -webkit-transform: skew-x(3deg); }
      70% { -webkit-transform: skew-x(-2deg); }
      80% { -webkit-transform: skew-x(1deg); }
      90% { -webkit-transform: skew-x(0deg); }
    100% { -webkit-transform: skew-x(0deg); }
  }

  @-moz-keyframes wiggle {
      0% { -moz-transform: skew-x(9deg); }
      10% { -moz-transform: skew-x(-8deg); }
      20% { -moz-transform: skew-x(7deg); }
      30% { -moz-transform: skew-x(-6deg); }
      40% { -moz-transform: skew-x(5deg); }
      50% { -moz-transform: skew-x(-4deg); }
      60% { -moz-transform: skew-x(3deg); }
      70% { -moz-transform: skew-x(-2deg); }
      80% { -moz-transform: skew-x(1deg); }
      90% { -moz-transform: skew-x(0deg); }
    100% { -moz-transform: skew-x(0deg); }
  }

  @-o-keyframes wiggle {
      0% { -o-transform: skew-x(9deg); }
      10% { -o-transform: skew-x(-8deg); }
      20% { -o-transform: skew-x(7deg); }
      30% { -o-transform: skew-x(-6deg); }
      40% { -o-transform: skew-x(5deg); }
      50% { -o-transform: skew-x(-4deg); }
      60% { -o-transform: skew-x(3deg); }
      70% { -o-transform: skew-x(-2deg); }
      80% { -o-transform: skew-x(1deg); }
      90% { -o-transform: skew-x(0deg); }
    100% { -o-transform: skew-x(0deg); }
  }

  @keyframes wiggle {
      0% { transform: skew-x(9deg); }
      10% { transform: skew-x(-8deg); }
      20% { transform: skew-x(7deg); }
      30% { transform: skew-x(-6deg); }
      40% { transform: skew-x(5deg); }
      50% { transform: skew-x(-4deg); }
      60% { transform: skew-x(3deg); }
      70% { transform: skew-x(-2deg); }
      80% { transform: skew-x(1deg); }
      90% { transform: skew-x(0deg); }
    100% { transform: skew-x(0deg); }
  }

  .wiggle {
     @include animate-prefixer(animation-name, wiggle);
     @include animate-prefixer(animation-timing-function, $base-timing-function-in);
  }

}
