@if $use-flipOut-x == true {

  @-webkit-keyframes flipOut-x {
        0% {
            -webkit-transform: perspective($flipper-perspective) rotate-x(0deg);
            opacity: 1;
        }
      100% {
            -webkit-transform: perspective($flipper-perspective) rotate-x($flipper-degrees-max);
            opacity: 0;
        }
    }

    @-moz-keyframes flipOut-x {
        0% {
            -moz-transform: perspective($flipper-perspective) rotate-x(0deg);
            opacity: 1;
        }
      100% {
            -moz-transform: perspective($flipper-perspective) rotate-x($flipper-degrees-max);
            opacity: 0;
        }
    }

    @-o-keyframes flipOut-x {
        0% {
            -o-transform: perspective($flipper-perspective) rotate-x(0deg);
            opacity: 1;
        }
      100% {
            -o-transform: perspective($flipper-perspective) rotate-x($flipper-degrees-max);
            opacity: 0;
        }
    }

    @keyframes flipOut-x {
        0% {
            transform: perspective($flipper-perspective) rotate-x(0deg);
            opacity: 1;
        }
      100% {
            transform: perspective($flipper-perspective) rotate-x($flipper-degrees-max);
            opacity: 0;
        }
    }

    .flipOut-x {
      @include animate-prefixer(animation-name, flipOut-x);
      @include animate-prefixer(backface-visibility, visible !important);
    }

}
