@if $use-flip-in-y == true {

  @-webkit-keyframes flip-in-y {
    0% {
      -webkit-transform: perspective($flipper-perspective) rotate-y($flipper-degrees-max);
      opacity: 0;
    }

    40% {
      -webkit-transform: perspective($flipper-perspective) rotate-y(-$flipper-degrees);
    }

    70% {
      -webkit-transform: perspective($flipper-perspective) rotate-y($flipper-degrees);
    }

    100% {
      -webkit-transform: perspective($flipper-perspective) rotate-y(0deg);
      opacity: 1;
    }
  }

  @-moz-keyframes flip-in-y {
    0% {
      -moz-transform: perspective($flipper-perspective) rotate-y($flipper-degrees-max);
      opacity: 0;
    }

    40% {
      -moz-transform: perspective($flipper-perspective) rotate-y(-$flipper-degrees);
    }

    70% {
      -moz-transform: perspective($flipper-perspective) rotate-y($flipper-degrees);
    }

    100% {
      -moz-transform: perspective($flipper-perspective) rotate-y(0deg);
      opacity: 1;
    }
  }

  @-o-keyframes flip-in-y {
    0% {
      -o-transform: perspective($flipper-perspective) rotate-y($flipper-degrees-max);
      opacity: 0;
    }

    40% {
      -o-transform: perspective($flipper-perspective) rotate-y(-$flipper-degrees);
    }

    70% {
      -o-transform: perspective($flipper-perspective) rotate-y($flipper-degrees);
    }

    100% {
      -o-transform: perspective($flipper-perspective) rotate-y(0deg);
      opacity: 1;
    }
  }

  @keyframes flip-in-y {
    0% {
      transform: perspective($flipper-perspective) rotate-y($flipper-degrees-max);
      opacity: 0;
    }

    40% {
      transform: perspective($flipper-perspective) rotate-y(-$flipper-degrees);
    }

    70% {
      transform: perspective($flipper-perspective) rotate-y($flipper-degrees);
    }

    100% {
      transform: perspective($flipper-perspective) rotate-y(0deg);
      opacity: 1;
    }
  }

  .flip-in-y {
    @include animate-prefixer(backface-visibility, visible !important);
    @include animate-prefixer(animation-name, flip-in-y);
  }
}
