$animate-name: 'zoom-in';

@mixin zoom-in($prefix: '') {
  0% {
    opacity: 0;
    #{$prefix}transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@if $use-zoom-in == true {

  @-webkit-keyframes #{$animate-name} {
    @include zoom-in('-webkit-');
  }

  @-moz-keyframes #{$animate-name} {
    @include zoom-in('-moz-');
  }

  @-o-keyframes #{$animate-name} {
    @include zoom-in('-o-');
  }

  @keyframes #{$animate-name} {
    @include zoom-in();
  }

  .#{$animate-name} {
    @include animate-prefixer(animation-name, $animate-name);
  }

}
