@if $use-rotate-out-up-right == true {
  @-webkit-keyframes rotate-out-up-right {
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }

  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate($rotate-degrees);
    opacity: 0;
  }
}

@-moz-keyframes rotate-out-up-right {
  0% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }

  100% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate($rotate-degrees);
    opacity: 0;
  }
}

@-o-keyframes rotate-out-up-right {
  0% {
    -o-transform-origin: right bottom;
    -o-transform: rotate(0);
    opacity: 1;
  }

  100% {
    -o-transform-origin: right bottom;
    -o-transform: rotate($rotate-degrees);
    opacity: 0;
  }
}

@keyframes rotate-out-up-right {
  0% {
    transform-origin: right bottom;
    transform: rotate(0);
    opacity: 1;
  }

  100% {
    transform-origin: right bottom;
    transform: rotate($rotate-degrees);
    opacity: 0;
  }
}

.rotate-out-up-right {
  @include animate-prefixer(animation-name, rotate-out-up-right);
}
}
