@if $use-fadeOut-left-big == true {

  @-webkit-keyframes fadeOut-left-big {
    0% {
      opacity: 1;
      -webkit-transform: translate-x(0);
    }

    100% {
      opacity: 0;
      -webkit-transform: translate-x(-$base-distance-big * 2);
    }
  }

  @-moz-keyframes fadeOut-left-big {
    0% {
      opacity: 1;
      -moz-transform: translate-x(0);
    }

    100% {
      opacity: 0;
      -moz-transform: translate-x(-$base-distance-big * 2);
    }
  }

  @-o-keyframes fadeOut-left-big {
    0% {
      opacity: 1;
      -o-transform: translate-x(0);
    }

    100% {
      opacity: 0;
      -o-transform: translate-x(-$base-distance-big * 2);
    }
  }

  @keyframes fadeOut-left-big {
    0% {
      opacity: 1;
      transform: translate-x(0);
    }

    100% {
      opacity: 0;
      transform: translate-x(-$base-distance-big * 2);
    }
  }

  .fadeOut-left-big {
    @include animate-prefixer(animation-name, fadeOut-left-big);
  }

}
