@if $use-fadeOut-down-big == true {

  @-webkit-keyframes fadeOut-down-big {
    0% {
      opacity: 1;
      -webkit-transform: translate-y(0);
    }

    100% {
      opacity: 0;
      -webkit-transform: translate-y($base-distance-big * 2);
    }
  }

  @-moz-keyframes fadeOut-down-big {
    0% {
      opacity: 1;
      -moz-transform: translate-y(0);
    }

    100% {
      opacity: 0;
      -moz-transform: translate-y($base-distance-big * 2);
    }
  }

  @-o-keyframes fadeOut-down-big {
    0% {
      opacity: 1;
      -o-transform: translate-y(0);
    }

    100% {
      opacity: 0;
      -o-transform: translate-y($base-distance-big * 2);
    }
  }

  @keyframes fadeOut-down-big {
    0% {
      opacity: 1;
      transform: translate-y(0);
    }

    100% {
      opacity: 0;
      transform: translate-y($base-distance-big * 2);
    }
  }

  .fadeOut-down-big {
    @include animate-prefixer(animation-name, fadeOut-down-big);
  }
}
