@if $use-bounce-out-right == true {

  @-webkit-keyframes bounce-out-right {
    0% {
      -webkit-transform: translate-x(0);
    }

    20% {
      opacity: 1;
      -webkit-transform: translate-x(-$base-distance * 2);
    }

    100% {
      opacity: 0;
      -webkit-transform: translate-x($base-distance-big * 2);
    }
  }

  @-moz-keyframes bounce-out-right {
    0% {
      -moz-transform: translate-x(0);
    }

    20% {
      opacity: 1;
      -moz-transform: translate-x(-$base-distance * 2);
    }

    100% {
      opacity: 0;
      -moz-transform: translate-x($base-distance-big * 2);
    }
  }

  @-o-keyframes bounce-out-right {
    0% {
      -o-transform: translate-x(0);
    }

    20% {
      opacity: 1;
      -o-transform: translate-x(-$base-distance * 2);
    }

    100% {
      opacity: 0;
      -o-transform: translate-x($base-distance-big * 2);
    }
  }

  @keyframes bounce-out-right {
    0% {
      transform: translate-x(0);
    }

    20% {
      opacity: 1;
      transform: translate-x(-$base-distance * 2);
    }

    100% {
      opacity: 0;
      transform: translate-x($base-distance-big * 2);
    }
  }

  .bounce-out-right {
    @include animate-prefixer(animation-name, bounce-out-right);
  }

}
