@if $use-bounce-in-left == true {

  @-webkit-keyframes bounce-in-left {
    0% {
      opacity: 0;
      -webkit-transform: translate-x(-$base-distance-big * 2);
    }

    60% {
      opacity: 1;
      -webkit-transform: translate-x($base-distance * 3);
    }

    80% {
      -webkit-transform: translate-x(-$base-distance);
    }

    100% {
      -webkit-transform: translate-x(0);
    }
  }

  @-moz-keyframes bounce-in-left {
    0% {
      opacity: 0;
      -moz-transform: translate-x(-$base-distance-big * 2);
    }

    60% {
      opacity: 1;
      -moz-transform: translate-x($base-distance * 3);
    }

    80% {
      -moz-transform: translate-x(-$base-distance);
    }

    100% {
      -moz-transform: translate-x(0);
    }
  }

  @-o-keyframes bounce-in-left {
    0% {
      opacity: 0;
      -o-transform: translate-x(-$base-distance-big * 2);
    }

    60% {
      opacity: 1;
      -o-transform: translate-x($base-distance * 3);
    }

    80% {
      -o-transform: translate-x(-$base-distance);
    }

    100% {
      -o-transform: translate-x(0);
    }
  }

  @keyframes bounce-in-left {
    0% {
      opacity: 0;
      transform: translate-x(-$base-distance-big * 2);
    }

    60% {
      opacity: 1;
      transform: translate-x($base-distance * 3);
    }

    80% {
      transform: translate-x(-$base-distance);
    }

    100% {
      transform: translate-x(0);
    }
  }

  .bounce-in-left {
    @include animate-prefixer(animation-name, bounce-in-left);
  }
}
