@if $use-slideOut-up == true {

  @-webkit-keyframes slideOut-up {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      visibility: visible;
    }

    100% {
      -webkit-transform: translate3d(0, -100%, 0);
    }
  }

  @keyframes slideOut-up {
    0% {
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }

    100% {
      transform: translate3d(0, -100%, 0);
    }
  }

  .slideOut-up {
    @include animate-prefixer(animation-name, slideOut-up);
  }

}
