@if $use-slide-out-right == true {

  @-webkit-keyframes slide-out-right {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      visibility: visible;
    }

    100% {
      -webkit-transform: translate3d(100%, 0, 0);
    }
  }

  @keyframes slide-out-right {
    0% {
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }

    100% {
      transform: translate3d(100%, 0, 0);
    }
  }

  .slide-out-right {
    @include animate-prefixer(animation-name, slide-out-right);
  }

}
