@if $use-slideOut-left == true {

  @-webkit-keyframes slideOut-left {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      visibility: visible;
    }

    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
    }
  }

  @keyframes slideOut-left {
    0% {
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }

    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }

  .slideOut-left {
    @include animate-prefixer(animation-name, slideOut-left);
  }

}
