@if $use-slideOut-right == true {

  @-webkit-keyframes slideOut-right {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      visibility: visible;
    }

    100% {
      -webkit-transform: translate3d(100%, 0, 0);
    }
  }

  @keyframes slideOut-right {
    0% {
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }

    100% {
      transform: translate3d(100%, 0, 0);
    }
  }

  .slideOut-right {
    @include animate-prefixer(animation-name, slideOut-right);
  }

}
