@if $use-slide-out-down == true {

  @-webkit-keyframes slide-out-down {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      visibility: visible;
    }

    100% {
      -webkit-transform: translate3d(0, 100%, 0);
    }
  }

  @keyframes slide-out-down {
    0% {
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }

    100% {
      transform: translate3d(0, 100%, 0);
    }
  }

  .slide-out-down {
    @include animate-prefixer(animation-name, slide-out-down);
  }

}
